﻿@model PortalDreamCoin.Cadastro.Infra.Identity.Model.IndexViewModel
@{
    ViewBag.Title = "Gerencie sua conta";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Trocar de Senha", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Definir senha para conta local", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            Logins Sociais: @Model.Logins.Count
            @Html.ActionLink("[ Gerenciar ]", "ManageLogins")
        </dd>
            <dt>Phone Number:</dt>
            <dd>
                Número do Telefone: @(Model.PhoneNumber ?? "Nenhum") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Trocar", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remover", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Adicionar", "AddPhoneNumber")
                }
                ]
            </dd>
        <dt>Two-Factor Authentication:</dt>
        <dd>

            @if (Model.TwoFactor)
            {
                using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Two Factor está habilitado:
                        <input type="submit" value="Desabilitar" class="btn btn-default"/>
                    </p>
                }
            }
            else
            {
                using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    <p>
                        Two Factor está desabilitado:
                        <input type="submit" value="Habilitar" class="btn btn-default"/>
                    </p>
                }
            }
        </dd>
        <dt>Two-Factor Authentication:</dt>
        <dd>

            @if (Model.BrowserRemembered)
            {
                <form method="post" action="/Manage/ForgetBrowser">
                    <p>
                        O browser será lembrado para Two Factor:
                        <input type="submit" value="Esquecer Browser" class="btn btn-default" />
                    </p>
                </form>
            }
            else
            {
                <form method="post" action="/Manage/RememberBrowser">
                    <p>
                        O browser NÃO será lembrado para Two Factor:
                        <input type="submit" value="Lembrar Browser" class="btn btn-default" />
                    </p>
                </form>
            }
        </dd>
</dl>
</div>
