﻿@model PortalDreamCoin.Cadastro.Infra.Identity.Model.RegisterViewModel
@{
    ViewBag.Title = "Novo Cadastro";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CNPJ)
    @Html.HiddenFor(model => model.CPF)
    <h4>Preencha os dados.</h4>
    <hr />

    @Html.Partial("_ErrorSummary")

    <div class="nome">
        <div class="form-group">
            @Html.LabelFor(m => m.Nome, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="email">
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmEmail, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="cpfcnpj">
        <div class="form-group">
            @Html.Label("CPF/CNPJ", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBox("cpfcnpj", null, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="senha">
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" id="Registrar" value="Registrar" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#cpfcnpj").keydown(function(){
            try {
                $("#cpfcnpj").unmask();
            } catch (e) {}
    
            var valor = $("#cpfcnpj").val().replace('.', '').replace('-', '').replace('/', '').replace('.', '');
	
            if(valor.length <= 11){
                $("#cpfcnpj").setMask("cpf");
                $("#CPF").val(valor);
            } else{
                $("#cpfcnpj").setMask("cnpj");
                $("#CNPJ").val(valor);
            }

            // ajustando foco
            var elem = this;
            setTimeout(function(){
                // mudo a posição do seletor
                elem.selectionStart = elem.selectionEnd = 1000000;
            }, 0);
            // reaplico o valor para mudar o foco
            var currentValue = $(this).val();
            $(this).val('');
            $(this).val(currentValue);
        });

        $("#cpfcnpj").blur(function(){
   
            var valor = $("#cpfcnpj").val().replace('.', '').replace('-', '').replace('/', '').replace('.', '');
	
            if(valor.length <= 11){
                $("#cpfcnpj").setMask("cpf");
                $("#CPF").val(valor);
            } else{
                $("#cpfcnpj").setMask("cnpj");
                $("#CNPJ").val(valor);
            }
        });
    </script>
}
